* {
    margin: 0;
    padding: 0;
}

header {
    height: 40%;
    width: 100%;
    background-color: grey;
    overflow: hidden;
}

nav {
    background-color: chocolate;
    float:left;
    height: 5%;
    width: 100%;
    position: absolute;
    max-height: 5%;
}

p {
    float: left;
    margin-left: 10%;
    font-size: 120%;
    position: relative;
    margin-top: 8px;
}
ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

#seccion1 {
    float: left;
    background-color: aqua;
    width: 50%;
    height: 60%;
}

#seccion2 {
    float: left;
    background-color: forestgreen;
    width: 50%;
    height: 60%;
}
