*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style: none;
}

body{
	font-family: Open sans;
    background-color: black;
}
img{
    max-height: 400px;
    max-width: 100%;
}

.slideshow{
	width: 100%;
	position: relative;
}

.slider li, ul{
	width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
	width: 100%;
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 150px;
    margin-bottom: 15%;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}

.paginacion{
	position: absolute;
	top: 90%;
	width: 100%;

	display: flex;
	justify-content: center;
}

.paginacion li{
	font-size: 20px;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}

.izq, .der{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.izq{
	left: 10px;
}

.der{
	right: 10px;
}
.contenido{
    width: 100%;
    height: 500px;
    background-image: url(../img/background.jpg);
}
nav{
    height: 35px;
    background-color: black;
    margin: -5px;
}
.menu li{
    color: white;
    float: left;
    font-family: cursive;
    font-size: 150%;
    margin-left: 20%;
}
.menu li:hover{
    cursor: pointer;
}
.contenido p{
    color: white;
}
@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 35px;
	}

	.left, .right{
		font-size: 30px;
	}

	.slider li img{
		width: 600px;
        max-height: 300px;
	}

	.paginacion{
		display: none;
	}
}